.page-nav .link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  line-height: 0.02em;
}
.page-nav .link:hover {
  color: #404bbf;
}
.page-nav .links {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  line-height: 0.02em;
}
.page-nav .links:hover {
  color: #404bbf;
}
.page-nav .links:active {
  color: #404bbf;
}
.adressa .link {
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  line-height: 0.02em;
}
.adressa .link:hover {
  color: #404bbf;
}
.main-page-btn {
  color: #4d5ae5;
}
.main-page-btn:hover {
  color: #404bbf;
}
.social {
  color: #9747ff;
}
.social:hover {
  color: #31d0aa;
}
.footer-item{
  color: #F4F4FD;
}
.footer-text{
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}